body {
    font-family: Arial, sans-serif;
    background-color: #FFECEC;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Шрифты и заголовки */
h1, h2 {
    color: #FF7B7B;
    font-weight: bold;
}

/* Оформление изображений */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Внешний вид ссылок */
a {
    color: #FF7B7B;
    text-decoration: none;
}

/* Отделение между разделами */
div {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Нижняя часть страницы */
footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 0px; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
}
.kk{
    text-align: left;
}
.nav{}

h1{
    text:70px;
}
body { 
    font-family: Arial; 
    background-color: #FFECEC; 
    color: #333; 
    text-align: center; 
    } 
h1, h2 { 
    color: #FF7B7B; 
    } 
img { 
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    } 
a { 
    color: #FF7B7B; 
    text-decoration: none; 
}
